name: "Build & Test"

# we have multiple workflows - this helps to distinguish for them
run-name: "${{ github.event.pull_request.title && github.event.pull_request.title || github.ref_name }} - Build & Test"

on:
  push:
    branches: [ develop, release/* ]
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup - Java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build + Unit / Integration Tests
        run: mvn --batch-mode clean verify jacoco:report jacoco:report-integration

      - name: Upload - Jacoco Overall Coverage
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-coverage-overall
          path: ${{ github.workspace }}/test-coverage/target/site/jacoco-overall-coverage/jacoco.xml
          if-no-files-found: error
