name: release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: update version
        run: mvn versions:set -DnewVersion=${{ github.event.inputs.version }} -DprocessAllModules=true

      - name: Create Release Branch
        run: |
          git config --global user.email "emailaddress@yahoo.com"
          git config --global user.name "username"
          git checkout -b release/v${{ github.event.inputs.version }}
          git commit -m "release ${{ github.event.inputs.version }}: updated version to${{ github.event.inputs.version }}"
          git push -u origin release/v${{ github.event.inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
